{
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "src/defines.php",
            "src/functions.php",
            "vendor",
            "tests"
        ]
    },
    "timeout": 10,
    "logs": {
        "text": "humbuglog.txt"
    }
}